@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: white;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .izquierda {
  position: relative;
  background: #003147;
  padding: 40px;
}

.perfilText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.perfilText .imgPerfil{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.perfilText .imgPerfil img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfilText h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.perfilText h2 span
{
    font-size: 0.6em;
    font-weight: 300;
}

.contacto{
  padding-top: 40px;

}

.tituloContacto{
  color:#fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contacto ul{
  position: relative;
}

.contacto ul li{

  position: relative;
  color: #fff;
  list-style: none;
  margin: 10px 0;
}




.container .derecha {
  position: relative;
  background: white;
  padding: 40px;
}

